.DS_Store
.vs/slnx.sqlite
Pawel-Chojnacki-english.aux
Pawel-Chojnacki-english.log
Pawel-Chojnacki-english.out
Pawel-Chojnacki-english.synctex.gz
Pawel-Chojnacki-polish.aux
Pawel-Chojnacki-polish.log
Pawel-Chojnacki-polish.out
Pawel-Chojnacki-polish.synctex.gz
